/* celular 320 x 500 
    tablet 501 x 1024
    pc 1025 x 1920
*/ 
@media screen and (min-width: 300px) and (max-width: 700px) {
    div.header-container{
        display: inline-block;
        justify-content: space-evenly;
        
    }
    div.header-container #btn-abrir{
        margin-left: 60px;
    }
    .header-col3{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .header-col h3{
        display: none;
    }
    .header-col h3{
        display: none;
    }
    .header-col i{
        display: none;
    }
    .fundo-banner{
        align-items: flex-end;
        align-content: center;
        justify-items: flex-start;
    }
    .fundo-banner p{
        width: 280px;
    }.fundo-banner h1{
        padding-top: 0px;
        width: 320px;
        font-size: 1.5em;
    }
    .text-banner a.fale:hover{
        background-color: white;
        color: rgb(0, 0, 0);
        transition: 0.5s;  
    }
    .text-banner a:hover{
        transition: 0.5s;
        background-color: red;    
    }
    .beneficio-container{
        flex-direction: column;
    }
    .beneficio-item{
        margin: auto;
        border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    }
}
/* altura responsiva celular */
@media screen and (min-height: 500px) and (max-height: 740px){
    .fundo-banner{
        height: 250px;
    }
}@media screen and (min-height: 801px) and (max-height: 932px){
    .fundo-banner{
        height: 250px;
    }
}
/* altura responsiva notebook */
@media screen and (min-height: 741px) and (max-height: 800px) and (min-width: 970px) and (max-width: 1920px){
    .fundo-banner{
        height: 400px;
    }
}
/* altura responsiva pc */
@media screen and (min-height: 933px) and (max-height: 1920px) {
    .fundo-banner{
        height: 450px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1920px) {
    div.header-container{
        justify-content: space-around;
        padding: 0px 25px;
    }
    .header-col > span{
        display: none;
    }
    .header-col3 i{
        color: rgb(70, 70, 180);
        font-size: 18px;
        cursor: pointer;
        padding: 6px;
        border-radius: 10px;
    }
    .header-col3 i:hover{
        background-color: rgba(221, 221, 221, 0.377);
    }
    .header-nav a{
        display: inline-block;
        color: rgb(47, 54, 158);
        font-size: 1.1em;
        margin-right: 12px;
        font-family: fonte1;
    }
    .header-nav a:hover{
        color: red;
        transition: 0.3s;
    }
    .header-col h3{
        color: red;
        font-family: fonte3;
    }
    .fundo-banner{
        align-items: flex-end;
        align-content: center;
        justify-items: flex-start;
    }
    .text-banner{
        padding-left: 68px;
        
    }
    .fundo-banner h1{
        width: 570px;
        font-size: 2.5em;
    }
    .fundo-banner p{
        font-size: 1.2em;
        width: 420px;
    }
    .text-banner li:hover{
        transition: 0.5s;
        transform: scale(1.1);
    }   
    .beneficio-container{
        flex-direction: row;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
    }
}