@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #DD342E;
    --cor1: #dc322e;
    --cor2: #383D88;
    --cor3: #DF332E;
    --cor5: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

div.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    height: 100%;
    width: 0px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}
nav a{
    color: white;
    display: block;
    font-size: 1.6em;
    padding: 16px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a:hover{
    background-color: white;
    color: #383D88;
}
.header-col > a{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
    font-family: fonte3;
}
.header-col{
    padding-top: 12px;
}
.header-col > span{
    padding-top: 6px;
    padding-left: 16px;
    color: #464da8;
    cursor: pointer;
}
.fundo-banner{
    background-image: url(../img/fundobanner.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24vh;
    margin-top: 6px;
    padding: 38px 25px;
}
.fundo-banner h1{
    color: white;
    font-family: fonte2;
    width: 290px;
    font-size: 2em;
    padding-bottom: 12px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}
.fundo-banner p{
    color: white;
    font-family: fonte1;
    width: 280px;
    padding-bottom: 25px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.fundo-banner .destaque{
    color: #F56865;
}
.fundo-banner ul{
    display: flex;
    gap: 16px;
}
.fundo-banner a{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #ca433e;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.541);
}
.fundo-banner a.fale{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #dd342e00;
    border: 1px solid white;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0);
}
.fundo-banner a.fale:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.fundo-banner a:hover{
    background-color: #ff0400;
    transition: 0.5s;
}
.fundo-banner li:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.beneficios-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #fff;
}
.beneficios-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.icon{
    width: 48px;
    height: 48px;
    background-color: #ffecec;
    color: black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.text h4{
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.text p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #666;
}
@media (max-width: 500px) {
  .beneficios-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}


