@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #DD342E;
    --cor1: #dc322e;
    --cor2: #383D88;
    --cor3: #DF332E;
    --cor5: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

div.header-container{
    display: flex;
    align-items: center;
    
}
.header-col > a{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
    font-family: fonte3;
}
.header-col{
    padding-top: 12px;
}
.header-col > span{
    padding-top: 6px;
    color: #464da8;
    cursor: context-menu;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    height: 100%;
    width: 0px;
    background-color: #1E3EA1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
    border-radius: 0px 10px 0px 10px;
}
nav a{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1.6em;
    padding: 14px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a:hover{
    background-color: white;
    color: #383D88;
}

.fundo-banner{
    background-image: url(../img/fundobanner.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;
    padding: 12px 25px;
}
.fundo-banner h1{
    color: white;
    font-family: fonte2;
    padding-bottom: 12px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.082);
}
.fundo-banner p{
    color: white;
    font-family: fonte1;
    padding-bottom: 25px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.089);
}
.fundo-banner .destaque{
    color: #F56865;
}
.fundo-banner ul{
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
}
.fundo-banner a{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #ca433e;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.541);
}
.fundo-banner a.fale{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #dd342e00;
    border: 1px solid white;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0);
}
.beneficios{
    padding: 8px;
}
.beneficio-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    cursor: context-menu;
}
.icon-box{
    width: 38px;
    height: 38px;
    background-color: #e9c8c8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.beneficio-item span{
    color: #ff0400;
}
.beneficio-item{
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}
.text h4{
    color: #29476E;
    font-size: 1em;
    font-family: fonte3;
}
.text p{
    font-size: 0.8em;
    font-family: fonte1;
    margin-top: 5px;
    color: #6F798B;
}

main p{
    text-align: center;
    color: #dc322e;
    font-size: 1.2em;
    font-family: fonte1;
    padding-top: 42px;
}
main h1{
    text-align: center;
    width: 81%;
    margin: auto;
    font-size: 1.7em;
    color: #1E3A5F;
    font-family: fonte2;
}
.img-produto{
    background-image: url(../img/paracetamol.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    margin: auto;
    width: 60%;
    height: 100vh;
}
aside img{
    max-width: 150px;
}
aside img:hover{
    transition: 0.6s;
    transform: scale(1.1);
}
.produtos-container{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;    
    padding: 8px;
}
.produtos-col{
    max-width: 200px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.produtos-col:hover{
    transition: 0.6s;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.253);
}
aside h3{
    text-align: left;
    font-size: 1em;
    font-family: fonte1;
    max-width: 150px;
}
aside h4{
    text-align: left;
    font-size: 0.8em;
    font-family: fonte1;
}
aside h5{
    text-align: left;
    padding-top: 6px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.valor{
    color: rgba(0, 0, 255, 0.842);
}

.footer-container{
    margin-top: 34px;
    background-color: #1E3EA1;
}
.footer-col h1{
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.082);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 8px;
}
.footer-col p{
    color: #C1CCCC;
    font-size: 1.04em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    line-height: 1.7em;
    
}
.footer-col > p > a{
    color: #C1CCCC;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
    line-height: 1.7em;
}
.footer-col > p > a:hover{
    color: #ffffff;
}
.footer-col{
    padding: 24px;
    width: 260px;
    
}
div.icon-box2{
    width: 38px;
    height: 38px;
    display: flex;
    background-color: #20487c9c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.footer-col i{
    flex: auto;
    padding: 12px;
    color: white;
    gap: 12px;
}
div.footer-icon-box{
    display: flex;
    gap: 12px;
    margin-top: 6px;
}
div.icon-box2:hover{
    transition: 0.5s;
    background-color: #DD342E;
}
.footer-ctt{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;

}
.footer-ctt .text{
    color: #C1CCCC;
    font-family: fonte1;

}
.footer-ctt span{
    padding-top: 6px;
    color: #F87171;
}











