@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #DD342E;
    --cor1: #dc322e;
    --cor2: #383D88;
    --cor3: #DF332E;
    --cor5: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

div.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    height: 100%;
    width: 0px;
    background-color: rgb(15, 34, 139);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}
nav a{
    color: white;
    display: block;
    font-size: 1.6em;
    padding: 16px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a:hover{
    background-color: white;
    color: #383D88;
}
.header-col > a{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
    font-family: fonte3;
}
.header-col{
    padding-top: 12px;
}
.header-col > span{
    padding-top: 6px;
    padding-left: 16px;
    color: #464da8;
    cursor: pointer;
}
.fundo-banner{
    background-image: url(../img/fundobanner.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24vh;
    margin-top: 6px;
    padding: 38px 25px;
}
.fundo-banner h1{
    color: white;
    font-family: fonte2;
    width: 290px;
    font-size: 2em;
    padding-bottom: 12px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.295);
}
.fundo-banner p{
    color: white;
    font-family: fonte1;
    width: 280px;
    padding-bottom: 25px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.fundo-banner .destaque{
    color: #F56865;
}
.fundo-banner ul{
    display: flex;
    gap: 16px;
}
.fundo-banner a{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #ca433e;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.541);
}
.fundo-banner a.fale{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: fonte1;
    background-color: #dd342e00;
    border: 1px solid white;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0);
}
.fundo-banner a.fale:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.fundo-banner a:hover{
    background-color: #ff0400;
    transition: 0.5s;
}
.fundo-banner li:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.beneficios{
    padding: 8px;
}
.beneficio-container{
    flex-direction: column;
    justify-items: center;
    margin: auto;
    cursor: context-menu;
}
.icon-box{
    width: 38px;
    height: 38px;
    background-color: #e9c8c8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.beneficio-item span{
    color: #ff0400;
}
.beneficio-item{
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}
.text h4{
    color: #29476E;
    font-size: 1em;
    font-family: fonte3;
}
.text p{
    font-size: 0.8em;
    font-family: fonte1;
    margin-top: 5px;
    color: #6F798B;
}

main p{
    text-align: center;
    color: #dc322e;
    font-size: 1.2em;
    font-family: fonte1;
    padding-top: 42px;
}
main h1{
    text-align: center;
    width: 81%;
    margin: auto;
    font-size: 1.7em;
    color: #1E3A5F;
    font-family: fonte2;
}
.img-produto{
    background-image: url(../img/paracetamol.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    margin: auto;
    width: 60%;
    height: 100vh;
}
aside img{
    width: 150px;
}
.produtos-container{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    padding-top: 45px;
}















@media (min-height: 500px){
    .fundo-banner{  
        height: 240px;
    }
}





































@media (max-width: 500px) {
  .beneficios-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}


